// Copyright 2016 David Lavieri.  All rights reserved.
// Use of this source code is governed by a MIT License
// License that can be found in the LICENSE file.

body {
  background: url('/images/handmadepaper.png') repeat;
}

.topbar {
  background-color: $white;
  border: solid thin rgba(10,10,10,0.25);
  border-top: none;
}

.box {
  padding: 20px;
  margin-top: 25px;
  background-color: $white;
  border: solid thin rgba(10,10,10,0.25);
}

.callout {
  &.sys-message {
    transition: opacity 400ms;

    &.closed {
      opacity: 0;
    }
  }
}
